.outer {
    background-color: #252839;
  }
  
  .navbar {
    background-color: transparent;
    border: none;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  
  .nav-item {
    position: relative;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .nav-item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-out;
  }
  
  .nav-item:hover {
    color: #fff;
    transform: translateX(3px);
  }
  
  .nav-item:hover:after {
    width: 100%;
  }
  




   