<!-- <div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-6 m-auto">
    
                <div class="mt-5">

                    <div>
                        <h2 class=" text-center" data-text="Signup...">Signup...</h2>
                    </div>


                    <nav class="navbar p-3 shadow-lg rounded mt-3 bg-light mb-5">
                        <form class="container-fluid p-4 row" [formGroup]="signupForm">

                            <div class="input-group p-1 col-12">
                                <span class="input-group-text fa fa-user text-primary" id="basic-addon1"></span>
                                <input type="text" class="form-control text-primary" placeholder="First Name" aria-label="FirstName" aria-describedby="basic-addon1" formControlName="firstName">
                            </div>
                            <div class="col-12">
                                <h6 *ngIf="signupForm.controls['firstName'].dirty && signupForm.hasError('required','firstName')" class="text-danger col-form-label">First Name is Required</h6>
                            </div>

                            <div class="input-group p-1 col-12">
                                <span class="input-group-text fa fa-user text-primary" id="basic-addon2"></span>
                                <input type="text" class="form-control text-primary" placeholder="Last Name" aria-label="LastName" aria-describedby="basic-addon2" formControlName="lastName">
                            </div>
                            <div class="col-12">
                                <h6 *ngIf="signupForm.controls['lastName'].dirty && signupForm.hasError('required','lastName')" class="text-danger col-form-label">Last Name is Required</h6>
                            </div>

                            <div class="input-group p-1">
                                <span class="input-group-text fa fa-envelope-o text-primary font-weight-bold" id="basic-addon3" ></span>
                                <input type="email" class="form-control text-primary" placeholder="Email" aria-label="Email" aria-describedby="basic-addon3" formControlName="email">
                            </div>
                            <div class="col-12">
                                <h6 *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger col-form-label">Email is Required</h6>
                            </div>

                            <div class="input-group p-1">
                                <span class="input-group-text fa fa-user text-primary" id="basic-addon4"></span>
                                <input type="text" class="form-control text-primary" placeholder="Username" aria-label="Username" aria-describedby="basic-addon4" formControlName="userName">
                            </div>
                            <div class="col-12">
                                <h6 *ngIf="signupForm.controls['userName'].dirty && signupForm.hasError('required','userName')" class="text-danger col-form-label">User Name is Required</h6>
                            </div>

                            <div class="input-group p-1">
                                <span class="input-group-text fa fa-lock text-primary" id="basic-addon5"></span>
                                <input type="password" class="form-control text-primary" placeholder="Password" aria-label="Password" aria-describedby="basic-addon5" formControlName="password">
                            </div>
                            <div class="col-12">
                                <h6 *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger col-form-label">Password is Required</h6>
                            </div>
                   
                            <button (click)="onSubmit()" [disabled]="signupForm.invalid" type="submit" class="btn btn-primary btn-block w-100 mt-4 p-2">Sign up</button>
        
                            <div class="p-2 text-center col text-muted">
                                Already have account
                                <a routerLink="/login">Login</a>
                            </div>
        
                        </form>
                    </nav>
                </div>

    
            </div>
        </div>
    </div>
    
</div> -->




<div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-7 m-auto">
             
                <div class="mt-4">

                    <div class="d-flex justify-content-center">
                        <h1 class=" text-center" data-text="Signup...">Signup...</h1>
                    </div>


                    <nav class="navbar p-4 shadow-lg rounded mb-5" >

                      <form [formGroup]="signupForm" class="col-12 p-1">
                        <mat-form-field class="d-flex">
                          <mat-label>First Name</mat-label>
                          <input matInput placeholder="First Name" formControlName="firstName" required>
                          <mat-error *ngIf="signupForm.controls['firstName'].invalid && signupForm.controls['firstName'].touched">
                            First Name is required
                          </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="d-flex">
                          <mat-label>Last Name</mat-label>
                          <input matInput placeholder="Last Name" formControlName="lastName" required>
                          <mat-error *ngIf="signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched">
                            Last Name is required
                          </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="d-flex">
                          <mat-label>Email</mat-label>
                          <input matInput type="email" placeholder="Email" formControlName="email" required>
                          <mat-error *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">
                            Email is required
                          </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="d-flex">
                          <mat-label>Username</mat-label>
                          <input matInput placeholder="Username" formControlName="userName" required>

                          <mat-error *ngIf="signupForm.controls['userName'].invalid && signupForm.controls['userName'].touched">
                            User Name is required
                          </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="d-flex">
                          <mat-label>Password</mat-label>
                          <input matInput type="password" placeholder="Password" formControlName="password" required>
                          <mat-error *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
                            Password is required
                          </mat-error>
                        </mat-form-field>
                        
                        <button (click)="onSubmit()" mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid" class="shadow-lg">Sign up</button>

                    </form>

                    <div class="p-2 text-center col text-muted">
                      Already have account
                      <a routerLink="/login">Login</a>
                    </div>
                                            
                    </nav>
                </div>

    
            </div>
        </div>
    </div>
    
</div>


<!-- <form [formGroup]="signupForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" formControlName="firstName" required>
      <mat-error *ngIf="signupForm.controls['firstName'].invalid && signupForm.controls['firstName'].touched">
        First Name is required
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" formControlName="lastName" required>
      <mat-error *ngIf="signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched">
        Last Name is required
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">
        Email is required
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="userName" required>
      <mat-error *ngIf="signupForm.controls['userName'].invalid && signupForm.controls['userName'].touched">
        User Name is required
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
        Password is required
      </mat-error>
    </mat-form-field>
    
    <button (click)="onSubmit()" mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Sign up</button>
</form>
   -->